
{% load staticfiles %}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Контакты</title>
<link href="{% static "css/default.css" %}" rel="stylesheet" type="text/css" />
<style>
   body {
    background-attachment: fixed;
   }
  </style>
</head>
<body>
<div id="outer">
  <div id="header">
    <h1><a href="#">Jurist</a></h1>
    <h2>Санкт-Петербург</h2>
  </div>
  <div id="menu">
    <ul>
      <li><a href="/" accesskey="1">Главная</a></li>
      <li><a href="/edit/" accesskey="2">Практика</a></li>
      <li><a href="/contacts/" accesskey="3">Контакты</a></li>
      <li><a href="/galerey/" accesskey="4">Галерея</a></li>
      <li><a href="/services/" accesskey="5">Услуги</a></li>
    </ul>
  </div>
  <div id="content">
    <div id="xbg1"></div>
    <div id="primaryContentContainer">
      <div id="primaryContent">
        <h2>Контакты</h2>

        <h3>Дворцовая наб., 32, Санкт-Петербург, 190000</h3>
        <h3>т.(812)-9871498</h3>
        <h3>E-mail:<a href="https://mail.ru/">9871498@mail.ru</a></h3>
        
        
        
      </div>
    </div>

    <div id="secondaryContent">
    
      <ul>
        <hr color="#000080">
        <li><a href="http://www.supcourt.ru/vs_cases3.php">Верховный суд</a></li>
        <hr color="#000080">
        <li><a href="https://sudrf.ru/">ГАС правосудие</a></li>
        <hr color="#000080">
        <li><a href="http://www.arbitr.ru/">Федеральные Арбитражные Суды РФ</a></li>
        <hr color="#000080">
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  <div id="footer">
    <p>&copy; Untitled. Design:<a href="">VorazH-studio </a></p>
  </div>
</div>
</body>
</html>