

*

{% load staticfiles %}

{
	margin: 0em;
	padding: 0em;
}

h1,h2,h3,h4,h5,h6
{
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

body
{
	font-family: "trebuchet ms", sans-serif;
	font-size: 10pt;
	background-image: url(http://bgfons.com/upload/brick_texture1884.jpg);
	color: #6F5129;
}

a
{
	color: #000080;
	text-decoration: underline;
}

a:hover
{
	text-decoration: none;
}

/* Outer */

#outer
{
	width: 778px;
	margin: 2em auto;
}

/* Header */

#header
{
	padding: 1.75em;
	text-align: center;
}

#header h1
{
	font-size: 2em;
}

#header h2
{
	font-size: 1em;
	color: #747474;
}

#header h1 a
{
	color: #fff;
	text-decoration: none;
}

/* Menu */

#menu
{
	background: url('http://www.pixic.ru/i/t0b1M1002823J9G6.jpg') top left no-repeat;
	height: 94px;
	width: 778px;
}

#menu ul
{
	list-style: none;
	text-align: center;
	position: relative;
	top: 45px;
}

#menu li
{
	padding: 0em 1.5em 0em 1.5em;
	display: inline;
}

#menu li a
{
	color: #3A2000;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.9em;
	letter-spacing: 0.2em;
}

#menu li a:hover
{
	text-decoration: underline;
}

/* Content */

#xbg1
{
	position: absolute;
	z-index: 1;
	background: url('http://www.pixic.ru/i/20w1F100e8x3w927.jpg') top left no-repeat;
	width: 778px;
	height: 98px;
}

#content
{
	background: url('http://www.pixic.ru/i/F051I19088v3r9Z9.jpg') top left repeat-y;
}

#content p
{
	margin-bottom: 2em;
	line-height: 1.5em;
}

#content h2,h3,h4,h5,h6
{
	position: relative;
	color: #3F2109;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	border-bottom: solid 1px #DFBF99;
}

#content h2
{
	font-size: 1.5em;
}

#content h3
{
	font-size: 1.1em;
}

#content ul
{
	margin-bottom: 2em;
	padding-left: 1em;
}

#content blockquote
{
	margin-bottom: 2em;
}

#content blockquote p
{
	border-left: solid 8px #667700;
	padding-left: 1em;
	margin-bottom: 0em;
}

#content table
{
	margin-bottom: 2em;
}

#content table th
{
	text-align: left;
	font-weight: bold;
	padding: 0.5em;
}

#content table td
{
	padding: 0.5em;
}

#content table tr.rowA
{
	background-color: #DFBD99;
	color: inherit;
}

#content table tr.rowB
{
	background-color: #EFDCC2;
	color: inherit;
}

/* Primary Content */

#primaryContentContainer
{
	position: relative;
	z-index: 2;
	float: right;
	margin-left: -18em;
	width: 100%;
}

#primaryContent
{
	margin: 2em 3.0em 0em 19em;
	padding: 0em 0em 0em 1.5em;
	border-left: solid 1px #DFBF99;
}

/* Secondary Content */

#secondaryContent
{
	position: relative;
	z-index: 2;
	float: right;
	width: 15em;
	margin-top: 2em;
}

/* Footer */

#footer
{
	width: 778px;
	height: 56px;
	padding-top: 30px;
	background: url('http://www.pixic.ru/i/0001O1U0x8f4L000.jpg') top left no-repeat;
	text-align: center;
}

.clear
{
	clear: both;
}

.gallery a img{    
    /* округления старт */
    -webkit-border-radius: 25px;
    -moz-border-radius:  25px;
    border-radius:  25px;
    /* округления конец */
    
    /* transition старт */
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
    transition: all 1.0s ease;
    /* transition конец */
    
    /* Тень старт */
    -webkit-box-shadow: 0px 2px 4px 1px #DFDFDF;
    -moz-box-shadow: 0px 2px 4px 1px #DFDFDF;
    box-shadow: 0px 2px 4px 1px #DFDFDF; 
    /* Тень конец */
    
    /* Прозрачнсоть старт */
    -moz-opacity: 0.70;
    opacity: 0.70;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
    /* Прозрачнсоть конец */
    
    margin-right:5px;     /* Отступ справа */
    padding:10px; /* Внутренние отступы */
    display:inline-block; /* отображение */
    height:150px; /* Высота */
}

.gallery a img:hover{
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}

.gallery a:focus img{
    position: relative;  /* Позиционирование */
    height:300px; /* Высота */
    cursor: pointer;    /* Вид курсора */
    
    /* transition старт */
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
    transition: all 1.0s ease;
    /* transition конец */
    
    /* Тень старт */
    -webkit-box-shadow: 0px 4px 4px 1px #DFDFDF;
    -moz-box-shadow: 0px 4px 4px 1px #DFDFDF;
    box-shadow: 0px 4px 4px 1px #DFDFDF;
    /* Тень конец */    
}

.gallery a{
    outline:0; border:0;
}